*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}

html, body {
	height: 100%;
}

body {
	font: 16px 'Roboto', arial, sans-serif;
	margin: 0;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	min-height: 100%;
}

h1 {
	text-align: center;
}

a {
	font-size: 200%;
	position: absolute;
	bottom: .5em;
	right: .5em;
}
