html, body {
    height: 98%;
    width: 99%;
}

textarea {
    height: 98%;
    resize: none;
}

h1 {
    line-height: 50%;
}

.row {
    height: 50%;
}


::-webkit-input-placeholder { /* Chrome */
  color: #ebccff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ebccff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ebccff;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #ebccff;
  opacity: 1;
}