html, body, div {
    height: 100%;
}

textarea {
    height: 70%;
    width: 30%;
    background-color: azure;
    border: gray 1px solid;
    color: #000000;
    cursor: default;
}

h1, a {
    color: gray;
}

a {
    text-decoration: none;
}
