html, body, div {
    height: 100%;
}

.txtCon {
    float: left;
    height: 70%;
    width: 33%;
}

textarea {
    height: 90%;
    width: 100%;
}

h1, a {
    color: gray;
}

a {
    text-decoration: none;
}
